{% if product %}
<div class="easysearch-fitment-widget">
  <div class="easysearch-fitment-loader">
    <div class="easysearch-fitment-icon">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
          <rect x="0" y="13" width="4" height="5" fill="#bbb"><animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s" dur="0.6s" repeatCount="indefinite"></animate><animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s" repeatCount="indefinite"></animate></rect>
        <rect x="10" y="13" width="4" height="5" fill="#bbb"><animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate><animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate></rect>
        <rect x="20" y="13" width="4" height="5" fill="#bbb"><animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate><animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate></rect>
        </svg>
    </div>
  </div>
  <div class="easysearch-fitment-search-widget easysearch-hidden">
    <h4 class="easysearch-fitment-header">Verify fitment with your vehicle</h4>
    {% render 'easysearch' %}
  </div>
  <div class="easysearch-fitment-holder easysearch-hidden">
    <div class="easysearch-fitment-results">
      <div class="easysearch-fitment-icon-holder">
        <div class="easysearch-fitment-icon">
          <svg class="easysearch-fitment-icon-success" width="18px" viewBox="0 0 18 18"><path d="M16.145,2.571c-0.272-0.273-0.718-0.273-0.99,0L6.92,10.804l-4.241-4.27 c-0.272-0.274-0.715-0.274-0.989,0L0.204,8.019c-0.272,0.271-0.272,0.717,0,0.99l6.217,6.258c0.272,0.271,0.715,0.271,0.99,0 L17.63,5.047c0.276-0.273,0.276-0.72,0-0.994L16.145,2.571z"/></svg>
          <svg class="easysearch-fitment-icon-fail" width="32px" viewBox="0 0 512 512"><path d="M289.94,256l95-95A24,24,0,0,0,351,127l-95,95-95-95A24,24,0,0,0,127,161l95,95-95,95A24,24,0,1,0,161,385l95-95,95,95A24,24,0,0,0,385,351Z"/></svg>
        </div>
      </div>
      <div class="easysearch-fitment-details">
        <h4 class="easysearch-fitment-header"></h4>
        <div class="easysearch-fitment-params-holder easysearch-fitment-text">
          <span class="easysearch-fitment-params easysearch-fitment-text"></span>
          <span class="easysearch-fitment-change">(Change vehicle)</span>
        </div>
      </div>
    </div>
    <div class="easysearch-fitment-other-results easysearch-fitment-text"></div>
  </div>
  {% capture esfpc %}{% for c in product.collections %}{{ c.handle }},{% endfor %}{% endcapture %}
  <script>document.addEventListener('easysearch_loaded', function(){easysearch.initFitmentWidget({allProductTags: {{ product.tags | json }}, allProductCollections: {{ esfpc | split: ',' | json }}, successText: "FITS your:", failText: "DOES NOT FIT your:", otherResultsText: "Other products that fit your vehicle", verifyButtonText: 'Verify'});});</script>
    <style>.easysearch-fitment-widget{margin-bottom:20px}.easysearch-fitment-search-widget{padding:20px 0;border:1px solid #f3f3f2;border-width: 1px 0}.easysearch-fitment-widget #easysearch-holder{text-align:left}.easysearch-fitment-loader{padding:12px 18px 8px;border:1px solid #f3f3f2;border-radius:4px;}.easysearch-fitment-results{display:flex;padding:10px;border:1px solid #7cae46;border-radius:4px}.easysearch-fitment-results.easysearch-fitment-fail{border-color:#e61b24}.easysearch-fitment-results .easysearch-fitment-icon-holder{flex:0 0 50px}.easysearch-fitment-results .easysearch-fitment-icon-holder .easysearch-fitment-icon{display:flex;width:40px;height:40px;justify-content:center;align-items:center;background:#7cae46}.easysearch-fitment-results.easysearch-fitment-fail .easysearch-fitment-icon-holder .easysearch-fitment-icon{background:#e61b24}.easysearch-fitment-results .easysearch-fitment-icon-holder .easysearch-fitment-icon svg{fill:#fff}.easysearch-fitment-results.easysearch-fitment-fail .easysearch-fitment-icon-success,.easysearch-fitment-results:not(.easysearch-fitment-fail) .easysearch-fitment-icon-fail{display:none}.easysearch-fitment-widget .easysearch-fitment-header{margin:0 0 12px;padding:0;font-size:16px;line-height:19px;font-weight:bold}.easysearch-fitment-results .easysearch-fitment-header{margin:0;color:#7cae46}.easysearch-fitment-results.easysearch-fitment-fail .easysearch-fitment-header{color:#e61b24}.easysearch-fitment-results .easysearch-fitment-details{flex:1}.easysearch-fitment-results .easysearch-fitment-params{padding-right:5px}.easysearch-fitment-results .easysearch-fitment-change{vertical-align:top;color:#7cae46;font-size:14px;line-height:22px;cursor:pointer}.easysearch-fitment-results.easysearch-fitment-fail .easysearch-fitment-change{color:#e61b24;text-decoration:underline}.easysearch-fitment-widget .easysearch-clear-holder label{display:none}.easysearch-fitment-widget .easysearch-clear-holder>a{font-size:15px;line-height:36px;text-decoration: none}.easysearch-fitment-widget .easysearch-fitment-link{text-decoration:underline}.easysearch-fitment-widget .easysearch-fitment-text{vertical-align:top;font-size:15px;line-height:23px}.easysearch-fitment-other-results{padding-top:5px}</style>
</div>
{% endif %}