<section class="or_footer">
      <div class="ctas">
        <ul>
          <li>
            <div class="image"><img src="{{ "icon-truck.svg" | asset_url }}"></div>
            <div class="copy">
            <h6>Free Shipping Over $50</h6>
            <p>On orders to lower 48 States.<br><span style="font-size:10px;"</p>
            </div>
          </li>
          <li>
            <div class="image"><img src="{{ "icon-money.svg" | asset_url }}"></div>
            <div class="copy">
            <h6>Hassle Free Returns</h6>
            <p>30 Day return policy.</p>
            </div>
          </li>
          <li>
            <div class="image"><img src="{{ "icon-phone.svg" | asset_url }}"></div>
            <div class="copy">
            <h6>U.S.A. Based Support</h6>
            <p>Telephone, online and walk in support.</p>
            </div>
          </li>
        </ul>
      </div>
    </section>

{% schema %}
  {
    "name": "Footer CTAs",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
